@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* //////////////////////CSS reset My Work Below//////////////////////// */

body{
    background-color:#202124;
    color:white;
}
h1{
    text-align: center;
    margin:25px auto;
	font-family:lobster;
	text-shadow:0 0 25px gold;
	animation-name: rainbowGlow;
	animation-duration:5s;
	animation-iteration-count: infinite;
	animation-direction:alternate-reverse;

	/* border-bottom:4px solid white;
	border-radius:50%; */
} 
nav{
	border-bottom:4px solid white;
	border-radius:50%;
	padding-bottom:15px;
	display:flex;
	justify-content:space-around;
	


}
nav > a{
	color:white;
	text-decoration:none;
	font-family:lobster;
	
	
}
nav > a:hover {
	text-shadow:0 0 25px gold;
	text-decoration: underline;
}
.card{
	height: 500px;
	width: 350px;
	margin: 50px auto;
	background:white;
	background:#202124;
	border-radius: 18px;
	box-shadow: 0px 0px 42px 19px rgba(255,255,255,0.53);
-webkit-box-shadow: 0px 0px 42px 19px rgba(255,255,255,0.53);
-moz-box-shadow: 0px 0px 42px 19px rgba(255,255,255,0.53);
animation-name: fadein;
animation-duration:2s;
}
.card img{
	width:200px;
	height:200px;
	margin-left:75px;
	margin-right:75px;
	margin-top:75px;
	border-radius: 50%; 
	border: 1px solid grey;
	box-shadow: 1px 1px 24px 1px rgba(255,255,255,0.75);
-webkit-box-shadow: 1px 1px 24px 1px rgba(255,255,255,0.75);
-moz-box-shadow: 1px 1px 24px 1px rgba(255,255,255,0.75);
animation-name: fadein;
animation-duration:5s;
}

.card h2, h4{
	color:grey;
	text-align: center;
	margin:25px auto;


}
.card h2{
	font-family: Lobster, san-serif;
	font-size:36px;

}
.card h2:hover{
	text-shadow:0 0 25px gold;
	color:whitesmoke;
	cursor: pointer;

}

.card h4{
	font-size: 20px;
	color:grey;
	animation: rainbowGlow 5s infinite;
}
.card h4:hover{
	text-shadow:0 0 25px gold;
	color:whitesmoke;
	cursor: pointer;
}

.icons {
	padding-top: 11px;
	display: flex;
	justify-content:space-evenly;
}
.icons a {
	text-decoration: none;
	color:white;
	animation: rainbowGlow 5s infinite;
}

.icons a:hover {
	cursor: pointer;
	text-shadow:0 0 25px gold;
}
.animate__animated.animate__rubberBand {
	animation-duration: 5s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}


	to {
opacity: 1;
	}
}
@keyframes rainbowGlow {
	0% {
color:blue;
	}
	25% {
color: rgb(203, 94, 16);
	}
	50% {
color: lightgreen;
	}
	75% {
color: orchid
	}
	100% {
color: purple;
	}


}
/* animation: example 5s linear 2s infinite alternate; */

/* @keyframes name_animation {
	from {

	}
	to {

	}

	OR
	
	0% {

	}
	100% {
		
	}
} */


